* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #ffc5c1;
}

/* HEADER */

header {
    height: 80px;
    border-bottom: 3px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header h1 {
    font-size: 32px;
    letter-spacing: 2px;
}

#menu-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px 15px;
    cursor: pointer;
}

/*MAIN LAYOUT*/

#game-area {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

/*Character panel*/

#character-panel {
    width: 500px;
    height: 700px;
    background: #b5b5b5;
    border: 4px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Avatar container */
#avatar {
    position: relative;
    width: 80%;
    height: 80%;

    --hair-top: 0px;
    --hair-left: 0px;
}

#avatar-body {
    width: 100%;
    display: block;
}

/* Head hitbox */
#head-hitbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: 20; /* higher than avatar */
    /*background: rgba(255, 0, 0, 0.3); /* debug only */
}

/*ITEMS PANEL*/

#items-panel {
    width: 250px;
    height: 700px;
    background: #b5b5b5;
    border: 4px solid #000;
    padding: 15px;
}

.items-inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    height: 100%;
}

/*HAIR*/
.hair {
    width: 120px;
    cursor: grab;
}

/* Hair once placed on avatar */
.hair.on-head {
    position: absolute;
    top: var(--hair-top);
    left: var(--hair-left);
    width: 100%;
    height: auto;
    z-index: 10;
    pointer-events: none; /* prevents re-drag */
    /*outline: 2px solid blue; for debuggin purposes*/

}

